# @schema.root
# additionalProperties: true
# @schema.root
# @schema
# type: object
# required: false
# additionalProperties: true
# @schema
global:
  # @schema
  # type: object
  # required: false
  # additionalProperties: true
  # @schema
  cxLogging:
    # @schema
    # type: boolean
    # required: false
    # @schema
    enabled: false
    # @schema
    # type: string
    # required: false
    # @schema
    clusterName: ""
    # @schema
    # type: string
    # required: false
    # @schema
    apiKey: ""
    # @schema
    # type: string
    # required: false
    # format: uri
    # @schema
    ingressUrl: https://ingress.eu2.coralogix.com/


# @schema
# type: string
# required: false
# @schema
# Override the default name
nameOverride: ""

# @schema
# type: string
# required: false
# @schema
# Override the fully qualified name
fullnameOverride: ""

# @schema
# type: object
# required: true
# @schema
webhook:
  # @schema
  # required: true
  # enum: [Ignore, Fail]
  # @schema
  # Webhook failure policy
  failurePolicy: Ignore # or "Fail"

# @schema
# type: object
# required: true
# @schema
insights:
  # @schema
  # type: string
  # required: true
  # @schema
  # Override the Kompass Insights generated secret name
  secret: "kompass-insights-secret"
  # @schema
  # type: string
  # required: true
  # @schema
  # Override the Kompass Insights generated service name
  service: "kompass-insights-svc"

# @schema
# type: object
# required: true
# @schema
grpc:
  # @schema
  # type: object
  # required: true
  # @schema
  server:
    # @schema
    # type: integer
    # required: true
    # minimum: 1
    # maximum: 65535
    # @schema
    # Port for the gRPC server
    port: 50052
  # @schema
  # type: string
  # required: false
  # @schema
  # gRPC service endpoint
  endpoint: ""
  # @schema
  # type: integer
  # required: true
  # minimum: 1
  # maximum: 65535
  # @schema
  # Default gRPC port
  port: 50051

# @schema
# type: object
# required: true
# @schema
deployment:
  # @schema
  # type: integer
  # required: true
  # minimum: 0
  # @schema
  # Number of replicas for the deployment
  replicaCount: 2
  # @schema
  # type: object
  # required: false
  # additionalProperties: true
  # patternProperties:
  #   ".*":
  #     type: string
  # @schema
  # Node selector for scheduling
  nodeSelector: {}
  # @schema
  # type: array
  # required: false
  # @schema
  # Tolerations for scheduling onto nodes with taints
  tolerations: []
  # @schema
  # type: object
  # required: true
  # @schema
  image:
    # @schema
    # type: string
    # required: true
    # @schema
    # Image repository
    repository: "672188301118.dkr.ecr.eu-west-1.amazonaws.com/zesty-k8s/action-taker"
    # @schema
    # required: true
    # enum: [Always, IfNotPresent, Never]
    # @schema
    # Image pull policy (e.g., Always, IfNotPresent, Never)
    pullPolicy: Always
    # @schema
    # type: string
    # required: true
    # @schema
    # Image tag (version)
    tag: stable
  # @schema
  # type: object
  # required: false
  # @schema
  resources:
    # @schema
    # type: object
    # required: false
    # additionalProperties: true
    # @schema
    limits:
      # @schema
      # type: [string, "null"]
      # required: false
      # pattern: ^[0-9]+(\.[0-9]+)?m?$
      # @schema
      # CPU limit for the container
      cpu:
      # @schema
      # type: [string, "null"]
      # required: false
      # pattern: ^[0-9]+(\.[0-9]+)?(Ki|Mi|Gi|Ti|Pi|Ei|k|M|G|T|P|E)?$
      # @schema
      # Maximum memory limit for the container
      memory: 2Gi
    # @schema
    # type: object
    # required: false
    # additionalProperties: true
    # @schema
    requests:
      # @schema
      # type: [string, "null"]
      # required: false
      # pattern: ^[0-9]+(\.[0-9]+)?m?$
      # @schema
      # CPU request for scheduling
      cpu: 250m
      # @schema
      # type: [string, "null"]
      # required: false
      # pattern: ^[0-9]+(\.[0-9]+)?(Ki|Mi|Gi|Ti|Pi|Ei|k|M|G|T|P|E)?$
      # @schema
      # Memory request for scheduling
      memory: 2Gi

# @schema
# type: object
# required: true
# @schema
service:
  # @schema
  # type: string
  # required: true
  # @schema
  # Name of the controller service
  name: "kompass-admission-controller-svc"

# @schema
# type: object
# required: false
# additionalProperties: true
# @schema
pdb:
  # @schema
  # type: integer
  # required: false
  # @schema
  # Maximum number of unavailable pods in the pod disruption budget
  maxUnavailable: 1

# @schema
# type: object
# required: true
# @schema
serviceAccount:
  # @schema
  # type: object
  # required: false
  # additionalProperties: true
  # patternProperties:
  #   ".*":
  #     type: string
  # @schema
  # Annotations to add to the service account
  annotations: {}

# @schema
# type: object
# required: true
# @schema
log:
  # @schema
  # type: integer
  # required: true
  # @schema
  # Log level to use
  level: 0
  # @schema
  # type: boolean
  # required: true
  # @schema
  # Enable or disable remote logging features
  remote: true

# @schema
# type: object
# required: false
# additionalProperties: true
# @schema
cxLogging:
  # @schema
  # type: boolean
  # required: false
  # @schema
  enabled: false
  # @schema
  # type: string
  # required: false
  # @schema
  clusterName: ""
  # @schema
  # type: string
  # required: false
  # @schema
  apiKey: ""
  # @schema
  # type: string
  # required: false
  # format: uri
  # @schema
  ingressUrl: https://ingress.eu2.coralogix.com/
